<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RVVD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ReVVed.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ReVVed.ReVVedSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <RVVD.Properties.Settings>
            <setting name="AddinPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="ChangeCase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MergeText" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PolyLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WebLink" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MiniBrowser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpperCase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RevitVersion" serializeAs="String">
                <value>2016</value>
            </setting>
            <setting name="ReVVedVersion" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="LogToFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ProjectCommander" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PC_UserField1" serializeAs="String">
                <value>User Field 1</value>
            </setting>
            <setting name="PC_UserField2" serializeAs="String">
                <value>User Field 2</value>
            </setting>
            <setting name="PC_runatstart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogDuration" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OpenFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ComponentCommander" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastUpdateCheck" serializeAs="String">
                <value>2012-07-01</value>
            </setting>
            <setting name="GridFlip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Revisionist" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnonUId" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="AllowAnalytics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="COCO2_Width" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="COCO2_Height" serializeAs="String">
                <value>400</value>
            </setting>
        </RVVD.Properties.Settings>
        <ReVVed.Properties.Settings>
            <setting name="AddinPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="ChangeCase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MergeText" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PolyLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WebLink" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MiniBrowser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpperCase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RevitVersion" serializeAs="String">
                <value>2016</value>
            </setting>
            <setting name="ReVVedVersion" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="LogToFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ProjectCommander" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PC_UserField1" serializeAs="String">
                <value>User Field 1</value>
            </setting>
            <setting name="PC_UserField2" serializeAs="String">
                <value>User Field 2</value>
            </setting>
            <setting name="PC_runatstart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogDuration" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OpenFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ComponentCommander" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastUpdateCheck" serializeAs="String">
                <value>2012-07-01</value>
            </setting>
            <setting name="UserPC_Window" serializeAs="String">
                <value>True</value>
            </setting>
        </ReVVed.Properties.Settings>
        <ReVVed.ReVVedSettings>
            <setting name="AddinPath" serializeAs="String">
                <value>C:\</value>
            </setting>
        </ReVVed.ReVVedSettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
